@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", style="float:left!important" }))
    {
        @Html.AntiForgeryToken()
        <ul class="list-unstyled">
            <li class="divider"></li>
            <li>
                <a role="menuitem" tabindex="-1" href="@Url.Action("EditProfile", "Members")"><i class="fa fa-user"></i> My Profile</a>
            </li>
            <li>
                <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>
            </li>
            <li>
                <a role="menuitem" tabindex="-1" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Logout</a>
            </li>
        </ul>
    }
}
else
{
<ul class="list-unstyled">
    <li class="divider"></li>
    <li>
        <a role="menuitem" tabindex="-1" href="@Url.Action("Register","Account")" id="registerLink"><i class="fa fa-user"></i> Register</a>
    </li>
    <li>
        <a role="menuitem" tabindex="-1" href="@Url.Action("Login","Account")" id="loginLink"><i class="fa fa-power-off"></i> Login</a>
    </li>
</ul>
}
